{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load pygmentize %}
{% block extraheader %}
<style>{% pygments_css %}</style>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h1>{{ snippet.title }}</h1>
        <div>
            <small>
                投稿者： {{ snippet.created_by.username }} <br />
                投稿日： {{ snippet.created_at|date:"DATETIME_FORMAT" }}
            </small>
            {% if user.is_authenticated and snippet.created_by_id == user.id %}
            <a class="btn btn-sm btn-outline-success" href="{% url 'snippet_edit' snippet.id %}">編集</a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <p class="mb-0">{{ snippet.code|pygmentize:"python3" }}</p>
    </div>
    <div class="card-body text-muted">
        <p class="mb-0">{{ snippet.description|urlize }}</p>
    </div>
</div>
<div class="mt-5">
    <h2>コメント</h2>
    {% for comment in snippet.comment_set.all %}
    <div class="card mt-2">
        <div class="card-header">
            投稿者： {{ comment.commented_by }}
        </div>
        <div class="card-body">
            <p class="mb-0">{{ comment.text }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% if user.is_authenticated %}
<div class="mt-5">
    <h2>コメントを書く</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="投稿する" %}
    </form>
</div>
{% endif %}
{% endblock %}
