<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'snippets/css/utility.css' %}">
    {% block extraheader %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Djangoスニペット</a>
        </div>
    </nav>
    <div class="container pt-5">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
